<div class="headerDiv">
	<h1 class="HeaderWelcome">
		MTB Shredders United Bike Tours and Repair
	</h1>
  <div class="outer-content">
    <a class="pageLinks" href="/">Home</a>
		<a class="pageLinks" href="/addTour">Professional</a>
		<a class="pageLinks" href="/addService">Hobbies</a>
		<a class="pageLinks" href="/checkout">Places Traveled</a>
  </div>
	
</div>