<div class="headerDiv">
	<h1 class="HeaderWelcome">
		MTB Shredders United Bike Tours and Repair
	</h1>
  <div class="outer-content">
    <a class="pageLinks" href="/">Home</a>
		<a class="pageLinks" href="/addTour">Tour Sign-up</a>
		<a class="pageLinks" href="/addService">Purchace Service</a>
		<a class="pageLinks" href="/yourTours">Your Tours</a>
		<a class="pageLinks" href="/checkout">Checkout</a>
		<a class="pageLinks" href="/createAccount">Create Account</a>
		<a class="pageLinks" href="/siteAdmin">Site Admin</a>
  </div>
	
</div>