{{>header}}
<h3 id="success">{{success}}</h3>
<h3 id="error">{{error}}</h3>
<form action="/addServiceType" method = "post">
	<fieldset>
		<legend>Add Service Type</legend>
		<ul style="list-style-type: none;">
			<li>
				<label>Name:<span class="manditoryField">*</span> </label>
				<input type="text" name="label" id="label">
			</li>
			<li>
				<label>Description</label>
			</li>
			<li>
				<textarea name="description" id="description" rows="10" cols="30"></textarea>
			</li>
			<li>
				<label>Cost:<span class="manditoryField">*</span> </label>
				<input type="text" name="cost" id="cost">
			</li>
			<input type="submit" id="serviceAddSubmit" value= "Add">
		</ul>
	</fieldset>
</form>
 <script src="add.js"></script>