{{>header}}
<form>
	<fieldset>
		<legend>Edit Service Type</legend>
		<ul style="list-style-type: none;">
			<li>
				<label>Name: </label>
				<input type="text" name="name" id="name">
			</li>
			<li>
				<label>Description</label>
			</li>
			<li>
				<textarea name="description" rows="10" cols="30">
				</textarea>
			</li>
			<li>
				<label>Cost: </label>
				<input type="text" name="cost" id="cost">
			</li>
			<input type="submit" id="serviceAddSubmit" value= "Add">
		</ul>
	</fieldset>
</form>
 <script src="add.js"></script>