{{>header}}
<h2>Purchace Service</h2>
<table id = "addServiceTable">
	  <tr>
		<th>Service Type</th>
		<th>Description</th>
		<th>Cost</th>
	  </tr>
	  <tr>
		<td>Full Service</td>
		<td>Includes Fork and Shock service. Also includes drivetrain maintenance, brake maintenance and bearings inspection.</td>
		<td>$250.00</td>
		<td>
			<button type="button">Add to Cart</button>
			<select id="qty">
			  <option value="0">0</option>
			  <option value="1">1</option>
			  <option value="2">2</option>
			  <option value="3">3</option>
			  <option value="4">4</option>
			  <option value="5">5</option>
			</select>
		</td>
	  </tr>
	  <tr>
		<td>Partial Service</td>
		<td>Includes drivetrain maintenance, brake maintenance and bearings inspection.</td>
		<td>$60.00</td>
		<td>
			<button type="button">Add to Cart</button>
			<select id="qty">
			  <option value="0">0</option>
			  <option value="1">1</option>
			  <option value="2">2</option>
			  <option value="3">3</option>
			  <option value="4">4</option>
			  <option value="5">5</option>
			</select>
		</td>
	  </tr>
	  <tr>
		<td>Tube Change</td>
		<td>Change tube or set up tubeless</td>
		<td>$5.00</td>
		<td>
			<button type="button">Add to Cart</button>
			<select id="qty">
			  <option value="0">0</option>
			  <option value="1">1</option>
			  <option value="2">2</option>
			  <option value="3">3</option>
			  <option value="4">4</option>
			  <option value="5">5</option>
			</select>
		</td>
	  </tr>
	</table>
 <script src="edit.js"></script>