{{>header}}
<h3 id="success">{{success}}</h3>
<h3 id="error">{{error}}</h3>
<form action="/addSpecificTour" method = "post">
	<fieldset>
		<legend>Add Tour</legend>
		<ul style="list-style-type: none;">
			<li>
				<label>Type: </label>
				<select id="type_number" name="type_number">
				  <option value="null">null</option>
				</select>
			</li>
			<li>
				<label>Date:<span class="manditoryField">*</span> </label>
				<input type="date" id="date" name="date">
			</li>
			<input type="submit" id="tourAddSubmit" value= "Add">
		</ul>
	</fieldset>
</form>
 <script src="addSpecificTour.js"></script>