{{>header}}
<form>
	<fieldset>
		<legend>Add Tour Type</legend>
		<ul style="list-style-type: none;">
			<li>
				<label>Name: </label>
				<input type="text" name="name" id="name">
			</li>
			<li>
				<label>Meet Time</label>
				<input type="time" id="appt" name="appt">
			</li>
			<li>
				<label>Cost: </label>
				<input type="text" name="cost" id="cost">
			</li>
			<input type="submit" id="addSubmit" value="Add">
		</ul>
	</fieldset>
</form>
 <script src="add.js"></script>