{{>header}}
<h2>Sign up for a tour</h2>
<div class = "filter">
	<form>
		<fieldset>
			<legend>Filter</legend>
			<label>Date: </label>
			<input type="date" id="tourDate" name="tourDate">
			<label>Type: </label>
			<select id="type">
			  <option value="">NA</option>
			</select>
			<input type="submit" id="filter" value= "Filter">
		</fieldset>
	</form>
</div>
<br>
<table id = "addToursTable">
  <tr>
	<th>Tour</th>
	<th>Date</th>
	<th>Meet Time</th>
	<th>Cost</th>
  </tr>
  <tr>
	<td>Full Day Expert</td>
	<td>2020-06-03</td>
	<td>9 am</td>
	<td>$54.95</td>
	<td><button type="button">Add to Cart</button></td>
  </tr>
  <tr>
	<td>Full Day Expert</td>
	<td>2020-06-06</td>
	<td>9 am</td>
	<td>$54.95</td>
	<td><button type="button">Add to Cart</button></td>
  </tr>
  <tr>
	<td>Full Day Expert</td>
	<td>2020-06-09</td>
	<td>9 am</td>
	<td>$54.95</td>
	<td><button type="button">Add to Cart</button></td>
  </tr>
  <tr>
	<td>Half Day Expert</td>
	<td>2020-06-03</td>
	<td>11 am</td>
	<td>$34.95</td>
	<td><button type="button">Add to Cart</button></td>
  </tr>
  <tr>
	<td>Half Day Expert</td>
	<td>2020-06-06</td>
	<td>11 am</td>
	<td>$34.95</td>
	<td><button type="button">Add to Cart</button></td>
  </tr>
  <tr>
	<td>Half Day Expert</td>
	<td>2020-06-09</td>
	<td>11 am</td>
	<td>$34.95</td>
	<td><button type="button">Add to Cart</button></td>
  </tr>
  <tr>
	<td>Full Day Intermediate</td>
	<td>2020-06-03</td>
	<td>9 am</td>
	<td>$49.95</td>
	<td><button type="button">Add to Cart</button></td>
  </tr>
  <tr>
	<td>Full Day Intermediate</td>
	<td>2020-06-06</td>
	<td>9 am</td>
	<td>$49.95</td>
	<td><button type="button">Add to Cart</button></td>
  </tr>
  <tr>
	<td>Full Day Intermediate</td>
	<td>2020-06-09</td>
	<td>9 am</td>
	<td>$49.95</td>
	<td><button type="button">Add to Cart</button></td>
  </tr>
</table>
<script src="addTourToCart.js"></script>
