{{>header}}
<h3 id="success">{{success}}</h3>
<h3 id="error">{{error}}</h3>
<form action="/addTourType" method = "post">
	<fieldset>
		<legend>Add Tour Type</legend>
		<ul style="list-style-type: none;">
			<li>
				<label>Name: </label>
				<input type="text" name="label" id="label">
			</li>
			<li>
				<label>Meet Time</label>
				<input type="time" id="meet_time" name="meet_time">
			</li>
			<li>
				<label>Cost: </label>
				<input type="text" name="cost" id="cost">
			</li>
			<input type="submit" id="addSubmit" value="Add">
		</ul>
	</fieldset>
</form>
 <script src="addTourType.js"></script>