{{>header}}
<h2>Sign up for a tour</h2>
<div class = "filter">
	<form>
		<fieldset>
			<legend>Filter</legend>
			<label>Date: </label>
			<input type="date" id="tourDate" name="tourDate">
			<label>Type: </label>
			<select id="type">
			  <option value="">NA</option>
			</select>
			<input type="submit" id="filter" value= "Filter">
		</fieldset>
	</form>
</div>
<br>
<table id = "addToursTable">
</table>
<script src="addTourToCart.js"></script>
