{{>header}}
<h2>Sign up for tour</h2>
<table id = "toursTypesTable">
  <tr>
	<th>Tour</th>
	<th>Date</th>
	<th>Meet Time</th>
	<th>Cost</th>
  </tr>
  <tr>
	<td>Full Day Expert</td>
	<td>2020-06-03</td>
	<td>9 am</td>
	<td>$54.95</td>
	<td><button type="button">Add to Cart</button></td>
  </tr>
  <tr>
	<td>Full Day Expert</td>
	<td>2020-06-06</td>
	<td>9 am</td>
	<td>$54.95</td>
	<td><button type="button">Add to Cart</button></td>
  </tr>
  <tr>
	<td>Full Day Expert</td>
	<td>2020-06-09</td>
	<td>9 am</td>
	<td>$54.95</td>
	<td><button type="button">Add to Cart</button></td>
  </tr>
  <tr>
	<td>half Day Expert</td>
	<td>2020-06-03</td>
	<td>11 am</td>
	<td>$34.95</td>
	<td><button type="button">Add to Cart</button></td>
  </tr>
  <tr>
	<td>half Day Expert</td>
	<td>2020-06-06</td>
	<td>11 am</td>
	<td>$34.95</td>
	<td><button type="button">Add to Cart</button></td>
  </tr>
  <tr>
	<td>half Day Expert</td>
	<td>2020-06-09</td>
	<td>11 am</td>
	<td>$34.95</td>
	<td><button type="button">Add to Cart</button></td>
  </tr>
  <tr>
	<td>Full Day Intermediate</td>
	<td>2020-06-03</td>
	<td>9 am</td>
	<td>$$49.95</td>
	<td><button type="button">Add to Cart</button></td>
  </tr>
  <tr>
	<td>Full Day Intermediate</td>
	<td>2020-06-06</td>
	<td>9 am</td>
	<td>$$49.95</td>
	<td><button type="button">Add to Cart</button></td>
  </tr>
  <tr>
	<td>Full Day Intermediate</td>
	<td>2020-06-09</td>
	<td>9 am</td>
	<td>$$49.95</td>
	<td><button type="button">Add to Cart</button></td>
  </tr>
</table>

 <script src="edit.js"></script>