{{>header}}
<h2>Shopping Cart</h2>
<h3 id="success"></h3>
<h3 id="error"></h3>
<table id = "cartTable">
</table>
<div id = "total" style = "margin-top: 5px;">
	<h4  style = "display: inline;">
		Subtotal (2 items): $174.95
	</h4>
	<button type="button" style = "display: inline;">Checkout</button>
</div>
<script src="checkout.js"></script>
 
