{{>header}}
<form>
	<fieldset>
		<legend>Create Account</legend>
		<ul style="list-style-type: none;">
			<li>
				<label>First Name: </label>
				<input type="text" id="fname" name="fname">
			</li>
			<li>
				<label>Last Name: </label>
				<input type="text" id="lname" name="lname">
			</li>
			<li>
				<label>Street: </label>
				<input type="text" id="street" name="street">
			</li>
			<li>
				<label>City: </label>
				<input type="text" id="city" name="city">
			</li>
			<li>
				<label>State: </label>
				<select name="state" size="1">
				  <option value="AK">AK</option>
				  <option value="AL">AL</option>
				  <option value="AR">AR</option>
				  <option value="AZ">AZ</option>
				  <option value="CA">CA</option>
				  <option value="CO">CO</option>
				  <option value="CT">CT</option>
				  <option value="DC">DC</option>
				  <option value="DE">DE</option>
				  <option value="FL">FL</option>
				  <option value="GA">GA</option>
				  <option value="HI">HI</option>
				  <option value="IA">IA</option>
				  <option value="ID">ID</option>
				  <option value="IL">IL</option>
				  <option value="IN">IN</option>
				  <option value="KS">KS</option>
				  <option value="KY">KY</option>
				  <option value="LA">LA</option>
				  <option value="MA">MA</option>
				  <option value="MD">MD</option>
				  <option value="ME">ME</option>
				  <option value="MI">MI</option>
				  <option value="MN">MN</option>
				  <option value="MO">MO</option>
				  <option value="MS">MS</option>
				  <option value="MT">MT</option>
				  <option value="NC">NC</option>
				  <option value="ND">ND</option>
				  <option value="NE">NE</option>
				  <option value="NH">NH</option>
				  <option value="NJ">NJ</option>
				  <option value="NM">NM</option>
				  <option value="NV">NV</option>
				  <option value="NY">NY</option>
				  <option value="OH">OH</option>
				  <option value="OK">OK</option>
				  <option value="OR">OR</option>
				  <option value="PA">PA</option>
				  <option value="RI">RI</option>
				  <option value="SC">SC</option>
				  <option value="SD">SD</option>
				  <option value="TN">TN</option>
				  <option value="TX">TX</option>
				  <option value="UT">UT</option>
				  <option value="VA">VA</option>
				  <option value="VT">VT</option>
				  <option value="WA">WA</option>
				  <option value="WI">WI</option>
				  <option value="WV">WV</option>
				  <option value="WY">WY</option>
				</select>
				<li>
					<label>Zip: </label>
					<input type="text" id="zip" name="zip">
				</li>
				<li>
					<label>Phone: </label>
					<input type="text" id="phone" name="phone">
				</li>
				<li>
					<label>Emergency Phone: </label>
					<input type="text" id="ephone" name="ephone">
				</li>
			</li>
			<input type="submit" id="tourAddSubmit" value= "Create">
		</ul>
	</fieldset>
</form>
 <script src="add.js"></script>