{{>header}}
<form>
	<fieldset>
		<legend>Edit Tour Type</legend>
		<ul style="list-style-type: none;">
			<li>
				<label>Name: </label>
				<input type="text" name="name" id="name" value="Full Day Expert">
			</li>
			<li>
				<label>Meet Time</label>
				<input type="time" id="appt" name="appt" value = "09:00:00">
			</li>
			<li>
				<label>Cost: </label>
				<input type="text" name="cost" id="cost" value= "54.95">
			</li>
			<li>
				<input type="hidden" name="id" id="id" value={{id}}>
			</li>
			<input type="submit" id="editSubmit" value = "Change">
		</ul>
	</fieldset>
</form>
 <script src="edit.js"></script>