{{>header}}
<form>
	<fieldset>
		<legend>Edit Service Type</legend>
		<ul style="list-style-type: none;">
			<li>
				<label>Name: </label>
				<input type="text" name="name" id="name" value="Full Service">
			</li>
			<li>
				<label>Description</label>
				<textarea name="description" rows="10" cols="30">
					Includes Fork and Shock service. Also includes drivetrain maintenance, brake maintenance and bearings inspection.
				</textarea>
			</li>
			<li>
				<label>Cost: </label>
				<input type="text" name="cost" id="cost" value= "$250.00">
			</li>
			<li>
				<input type="hidden" name="id" id="id" value={{id}}>
			</li>
			<input type="submit" id="updateSubmit">
		</ul>
	</fieldset>
</form>
 <script src="edit.js"></script>