{{>header}}
<form>
	<fieldset>
		<legend>Edit Service Type</legend>
		<ul style="list-style-type: none;">
			<li>
				<label>Name: </label>
				<input type="text" name="name" id="name" value='{{label}}'>
			</li>
			<li>
				<label>Description</label>
			</li>
			<li>
				<textarea name="description" rows="10" cols="30">
					{{description}}
				</textarea>
			</li>
			<li>
				<label>Cost: </label>
				<input type="text" name="cost" id="cost" value= {{cost}}>
			</li>
			<li>
				<input type="hidden" name="id" id="id" value={{id}}>
			</li>
			<input type="submit" id="editSubmit" value= "Change">
		</ul>
	</fieldset>
</form>
 <script src="edit.js"></script>