{{>header}}
<img name="homeImage" id="homeImage" src="images/mtbJump.jpeg" width = 40%>
<div id = "about">
	<h3>About Us</h3>
	<p>We are a mountain bike tour company dedicated to taking people on rad bike tours. We have tours that cater to all skill levels. We were founded by two students who had a dream to show people around their local area and get everyone into the mountain biking. Our store also offers bike service. We do everything from small fixes to full bike tunes. Our clients can book bike tours as well as bike service on our website.</p>
	
</div>
<div id = "toursOffered">
	<h3>Tours Offered</h3>
	<p> All tours will meet at our shop at the specified time. We will take a look at everyones bike before heading out and make sure everyone is fit to ride.</p>
	<table id = "toursTypesTable">
	  <tr>
		<th>Tour</th>
		<th>Meet Time</th>
		<th>Cost</th>
	  </tr>
	  <tr>
		<td>Full Day Expert</td>
		<td>9 am</td>
		<td>$54.95</td>
	  </tr>
	  <tr>
		<td>Half Day Expert</td>
		<td>12 pm</td>
		<td>$34.95</td>
	  </tr>
	  <tr>
		<td>Full Day Intermediate</td>
		<td>9 am</td>
		<td>$49.95</td>
	  </tr>
	  <tr>
		<td>Half Day Intermediate</td>
		<td>9 am</td>
		<td>$29.95</td>
	  </tr>
	</table>
</div>
<div id = "serviceOffered">
	<h3>Service Packages Offered</h3>
	<table id = "serviceTypesTable">
	  <tr>
		<th>Service Type</th>
		<th>Description</th>
		<th>Cost</th>
	  </tr>
	  <tr>
		<td>Full Service</td>
		<td>Includes Fork and Shock service. Also includes drivetrain maintenance, brake maintenance and bearings inspection.</td>
		<td>$250.00</td>
	  </tr>
	  <tr>
		<td>Partial Service</td>
		<td>Includes drivetrain maintenance, brake maintenance and bearings inspection.</td>
		<td>$60.00</td>
	  </tr>
	  <tr>
		<td>Tube Change</td>
		<td>Change tube or set up tubeless</td>
		<td>$5.00</td>
	  </tr>
	</table>
</div>

 <script src="home.js"></script>