{{>header}}
<h2>Purchases Page</h2>
<div class = "filter">
	<form>
		<fieldset>
			<legend>Filter</legend>
			<label>Date: </label>
			<input type="date" id="purchaseDate" name="purchaseDate">
			<label>First Name: </label>
			<input type="text" id="fname" name="fname">
			<label>Last Name: </label>
			<input type="text" id="lname" name="lname">
			<input type="submit" id="filter" value= "Filter">
		</fieldset>
	</form>
</div>
<br>
<h3 id="success"></h3>
<h3 id="error"></h3>
<div id="purchases">
	<table id = "purchasesTable">
	</table>
</div>

<script src="purchases.js"></script>

