{{>header}}
<h3 id="success">{{success}}</h3>
<h3 id="error">{{error}}</h3>
<form action="/signIn" method = "post">
	<fieldset>
		<legend>signIn</legend>
		<ul style="list-style-type: none;">
			<li>
				<label>First Name: </label>
				<input type="text" id="fname" name="fname">
			</li>
			<li>
				<label>Last Name: </label>
				<input type="text" id="lname" name="lname">
			</li>
			<input type="submit" id="signIn" value= "Sign in">
		</ul>
	</fieldset>
</form>
<h3>Or <a href="/createAccount">Create Account</a> </h3>
<h3>For testing you can use an existing Account</h3>
<h3>First Name: Kevin</h3>
<h3>Last Name: Hart</h3>
 <script src="signIn.js"></script>