{{>header}}
<h2>Site Administrative Page</h2>
<div id="toursOfferedAdmin">
<h3>Tours Offered</h3>
	<p> All tours will meet at our shop at the specified time. We will take a look at everyones bike before heading out and make sure everyone is fit to ride.
	<table id = "toursTypesTable">
	  <tr>
		<th>Tour</th>
		<th>Meet Time</th>
		<th>Cost</th>
	  </tr>
	  <tr>
		<td>Full Day Expert</td>
		<td>9 am</td>
		<td>$54.95</td>
		<td><button type="button" class="editTourType">Edit</button></td>
		<td><button type="button">Remove</button></td>
	  </tr>
	  <tr>
		<td>Half Day Expert</td>
		<td>12 pm</td>
		<td>$34.95</td>
		<td><button type="button" class="editTourType">Edit</button></td>
		<td><button type="button">Remove</button></td>
	  </tr>
	  <tr>
		<td>Full Day Intermediate</td>
		<td>9 am</td>
		<td>$49.95</td>
		<td><button type="button" class="editTourType">Edit</button></td>
		<td><button type="button">Remove</button></td>
	  </tr>
	  <tr>
		<td>Half Day Intermediate</td>
		<td>9 am</td>
		<td>$29.95</td>
		<td><button type="button" class="editTourType">Edit</button></td>
		<td><button type="button">Remove</button></td>
	  </tr>
	</table>
	<td><button type="button">Add</button></td>
	<a href="/updateSpecificTours">Update Specific Tours</a>
</div>
<div id = "serviceOfferedAdmin">
	<h3>Service Packages Offered</h3>
	<table id = "serviceTypesTable">
	  <tr>
		<th>Service Type</th>
		<th>Description</th>
		<th>Cost</th>
	  </tr>
	  <tr>
		<td>Full Service</td>
		<td>Includes Fork and Shock service. Also includes drivetrain maintenance, brake maintenance and bearings inspection.</td>
		<td>$250.00</td>
		<td><button type="button" class="editServiceType">Edit</button></td>
		<td><button type="button">Remove</button></td>
	  </tr>
	  <tr>
		<td>Partial Service</td>
		<td>Includes drivetrain maintenance, brake maintenance and bearings inspection.</td>
		<td>$60.00</td>
		<td><button type="button" class="editServiceType">Edit</button></td>
		<td><button type="button">Remove</button></td>
	  </tr>
	  <tr>
		<td>Tube Change</td>
		<td>Change tube or set up tubeless</td>
		<td>$5.00</td>
		<td><button type="button" class="editServiceType">Edit</button></td>
		<td><button type="button">Remove</button></td>
	  </tr>
	</table>
	<td><button type="button">Add</button></td>
</div>
<div id="purchaceLookUp">
	<a href="/updatePurchaces">Purchaces Logs</a>
</div>
<script src="siteAdmin.js"></script>

