{{>header}}
<h2>Specific Tour Administrative Page</h2>
<div id="specificToursAdmin">
	<td><button type="button" id = "addSpecificTour">Add</button></td>
	<table id = "specificToursTable">
	  <tr>
		<th>Type</th>
		<th>Date</th>
		<th>Signed up<th>
	  </tr>
      <tr>
		<td>Full Day Expert</td>
		<td>2020-06-03</td>
		<td>5</td>
	  </tr>
	  <tr>
		<td>Full Day Expert</td>
		<td>2020-06-06</td>
		<td>0</td>
		<td><button type="button">Remove</button></td>
	  </tr>
	  <tr>
		<td>Full Day Expert</td>
		<td>2020-06-09</td>
		<td>4</td>
	  </tr>
	  <tr>
		<td>Half Day Expert</td>
		<td>2020-06-03</td>
		<td>3</td>
	  </tr>
	  <tr>
		<td>Half Day Expert</td>
		<td>2020-06-06</td>
		<td>6</td>
	  </tr>
	  <tr>
		<td>Half Day Expert</td>
		<td>2020-06-09</td>
		<td>0</td>
		<td><button type="button">Remove</button></td>
	  </tr>
	  <tr>
		<td>Full Day Intermediate</td>
		<td>2020-06-03</td>
		<td>8</td>
	  </tr>
	  <tr>
		<td>Full Day Intermediate</td>
		<td>2020-06-06</td>
		<td>9</td>
	  </tr>
	  <tr>
		<td>Full Day Intermediate</td>
		<td>2020-06-09</td>
		<td>3</td>
	  </tr>
	</table>
</div>

<script src="updateSpecificTours.js"></script>

