{{>header}}
<h2>Your Scheduled Tours</h2>
<p>Please bring water and all your biking equipment. Tours will start at our shop. Please arrive 15 minutes early. The van will not wait for customers who are late. In the mean time get stoked.</p>
<h3 id="error"></h3>
<table id = "yourToursTable">
  <tr>
	<th>Tour</th>
	<th>Date</th>
	<th>Meet Time</th>
  </tr>
  <tr>
	<td>Full Day Expert</td>
	<td>2020-06-03</td>
	<td>9 am</td>
	<td><button type="button">Cancel</button></td>
  </tr>
  <tr>
	<td>Full Day Expert</td>
	<td>2020-06-06</td>
	<td>9 am</td>
	<td><button type="button">Cancel</button></td>
  </tr>
  <tr>
	<td>Half Day Expert</td>
	<td>2020-06-06</td>
	<td>11 am</td>
	<td><button type="button">Cancel</button></td>
  </tr>
  <tr>
	<td>Full Day Intermediate</td>
	<td>2020-06-06</td>
	<td>9 am</td>
	<td><button type="button">Cancel</button></td>
  </tr>
</table>

