{{>header}}
<h2>Your Scheduled Tours</h2>
<p>Please bring water and all your biking equipment. Tours will start at our shop. Please arrive 15 minutes early. The van will not wait for customers who are late. In the mean time get stoked.</p>
<h3 id="error"></h3>
<table id = "yourToursTable">
</table>
 <script src="yourTours.js"></script>

