td {
  border: 1px solid black;
  text-align:center;
}
th  {
	text-align:center;
}
 .HeaderWelcome{
    text-align: center;
	font-family: "Times New Roman", Times, serif;
 }
 
 .pageLinks
{
    display: inline;
	padding: 10px;
	background-color: #b3ff66;
	text-align: center;
	margin:auto;

}
.outer-content{
	background-color: #b3ff66;
	width: 100%;
	margin-top:20px;
	padding: 10px;
}
#homeImage{
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
#error{
	color: red;
}
#success{
	color: green;
}
.manditoryField{
	color: red;
}
a:hover {
  background-color: #2E8B57;
  border: 1px solid black;
}
.headerDiv{
	background-color: #e6e6ff;
}
body {
  background-color: #e6e6ff;
}
